*{
  padding: 0;
  margin:0;
}
li{
  list-style: none;
}
#grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
#sideBar{
  background-color: green;
  grid-row-start: 5;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column: span 2;
}
#mainArticle{
  background-color: red;
  grid-row-start: 4;
  grid-row: span 6;
  grid-column-start: 3;
  grid-column: span 7;
  display:flex;
  flex-direction: column;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
  height:100%;
  color: lightgrey;
}
#underPic{
  display:flex;
  flex-direction: row;
}
#underPic > li{
  padding:5px;
  margin:5px;
  color: lightgrey;
  border: 2px lightgrey;
  border-style: solid none none none;
}
.row{
  display:flex;
  flex-direction: row;
}
.column{
  display:flex;
  flex-direction: column;
}
#mainArticle .row> ul{
  font-size: medium;
  font-weight: bold;
}
#mainArticle .row>ul> li{
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:5px;
}
#logoSection{
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 10;
  grid-column-end: 13;
}

#navOne{
  background-color: grey;
  grid-row-start: 1;
  grid-row: span 2;
  grid-column-start: 1;
  grid-column: span 9;
}

#navTwo{
  background-color: black;
  grid-row-start: 2;
  grid-row: span 2;
  grid-column-start: 1;
  grid-column: span 12;
  color:white;
}
.picArticle{
  grid-column: span 3;
  background-color: hotpink;
  grid-row: span 6;
}
.nopicArticle{
  background-color: yellow;
  grid-column: span 3;
  grid-row: span 2;
}

.Article{
  background-color: navy;
  grid-column: span 4;
  grid-row: span 2;
}
#redDate{
color:red;
}

p{
  font-size: larger;
  font-weight: bold;
  padding:5px;
  margin:5px;
  background-color: lightgrey;
  border: 2px red;
  border-style: solid none none none;
}